.body {
    background-color: #ddd;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
}

    /* MENU */

    
.container {
    margin-top: 50px;
    flex-wrap: wrap;
}

.imglogo {
    height: 40px;
}

.divlogo {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.divlogo h3 {
    background-color: #ffffff;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    margin-right: 20px;
    box-shadow: 1px 1px 2px black;
    padding-top: 10px;
    padding-left: 50px;
}

    /* SEÇÃO */

.info {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.containerinfo {
    max-width: 32%;
    margin: 0 auto;
    padding: 100px;
    padding-top: 150px;
}

.containerinfo strong {
    font-size: 45px;
    margin-top: 80px;
}

.containerinfo p {
    font-size: 18px;
}

.botaostart {
    background-color: #FE52C0;
    width: 230px;
    height: 50px;
    border-radius: 30px;
    color: #ffffff;
}

.divimg {
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
    padding: 40px;
    margin: 0 auto;
}
.imgilustracao {
    width: auto;
    text-align: center;
    max-width: 100%;
}

    /* CORPO SITE */

.containercorpo {
    max-width: 100%;
    margin-top: 200px;
    flex-wrap: wrap;
}

.minicorpo {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 80px;
    flex-wrap: wrap;
    align-items: center;
}

.corpotexto {
    width: 500px;
}
.corpotexto p {
    font-size: 18px;
    opacity: 0.5;
}

.imgcorpo {
    width: auto;
    text-align: center;
    max-width: 100%;
}

.divimgcorpo {
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
    padding: 40px;
    margin: 0 auto;
}